<div class="max-width-2 mx-auto">

  <logo link="true"></logo>

  <section ng-if="$ctrl.repo || $ctrl.error.message"
    class="fade-in-up mb4 mt2 bg-white border border-silver">
    <div ng-if="$ctrl.repo">
      <header class="py2 px3 center border-bottom border-silver">
        <h2 class="h1 m0 regular inline-block">
          <a class="text-decoration-none"
            ui-sref="users({ user: $ctrl.repo.owner.login })">
            {{ $ctrl.repo.owner.login }}
          </a>
        </h2>
        <span class="h1 m0 inline-block">/</span>
        <h1 class="m0 inline-block" external-link="{{$ctrl.repo.html_url}}">{{ $ctrl.repo.name }}</h1>
        <p class="m0 small" ng-if="$ctrl.repo.homepage.length">
          <a href="{{ $ctrl.repo.homepage }}"
            target="_blank"
            class="text-decoration-none"
            ng-bind="$ctrl.repo.homepage"></a>
        </p>
      </header>

      <div class="py2 px3 bg-darken-1">
        <div ng-if="$ctrl.repo.description.length">
          <p class="m0 center">{{ $ctrl.repo.description }}</p>
          <hr class="my1">
        </div>
        <div class="sm-flex">
          <div class="col-12 sm-col-6 flex flex-wrap">
            <p class="m0 small col-6 right-align pr1">Created:</p>
            <p class="m0 small col-6" ng-bind="$ctrl.repo.created_at | timeAgo"></p>
            <p class="m0 small col-6 right-align pr1">Updated:</p>
            <p class="m0 small col-6" ng-bind="$ctrl.repo.updated_at | timeAgo"></p>
          </div>
          <div class="col-12 sm-col-6 flex flex-wrap">
            <p class="m0 small col-6 right-align pr1">Stars:</p>
            <p class="m0 small col-6" ng-bind="$ctrl.repo.stargazers_count | number"></p>
            <p class="m0 small col-6 right-align pr1">Issues:</p>
            <p class="m0 small col-6" ng-bind="$ctrl.repo.open_issues | number"></p>
          </div>
        </div>
      </div>

      <div ng-if="$ctrl.repo.contributors" class="">
        <h2 class="center m0 py2 bg-blue white border-top border-bottom border-silver">
          Contributors
          <small class="muted">({{ $ctrl.repo.contributors.length }})</small>
        </h2>

        <div class="flex flex-wrap p3">
          <div class="col-12 sm-col-6 flex mb2"
            ng-repeat="contributor in $ctrl.repo.contributors">
            <a ui-sref="users({ user: contributor.login })">
              <img ng-src="{{ contributor.avatar_url }}&s=40" style="width: 40px; height: 40px;">
            </a>
            <div class="ml2">
              <h5 class="h3 m0 regular">
                <a class="text-decoration-none"
                  ui-sref="users({ user: contributor.login })"
                  ng-bind="contributor.login"></a>
              </h5>
              <p class="m0 muted small">{{ contributor.contributions | number }} commits</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="$ctrl.error.message" class="px2 py4">
      <error message="$ctrl.error.message"></error>
      <div class="mb4"></div>
      <search></search>
    </div>
  </div>

  <loading ng-if="!$ctrl.repo && !$ctrl.error.message"></loading>

</div>
